asgi-redis==1.3.0
git+https://github.com/django/channels@31cd68c89bfe302b91aac6b096e94d3c074e3b72#egg=channels
Django==1.11.0
django-environ==0.4.1
psycopg2==2.7.1
redis==2.10.5

aloe==0.1.12
aloe_django==0.1.3
aloe_webdriver==0.5.6
xvfbwrapper==0.2.9
